@media (min-width: 969px) {
  #header {
    display: grid;
    align-items: center;
    justify-content: left;
  }

  #header .logo {
    order: 0;

    margin-left: 5rem;
  }

  #header .menu {
    order: 1;
  }

  .menu ul {
    visibility: visible;

    display: flex;

    margin-left: 50rem;
    margin-top: -4rem;
  }

  .menu ul li a {
    font-size: 1.5rem;
  }

  .pointers {
    visibility: hidden;
  }

  #Home {
    grid-auto-flow: column;

    justify-content: space-between;
    align-items: center;

    max-width: 85%;
  }

  #Home .image {
    order: 1;

    width: 180%;

    position: relative;
    right: 22rem;
  }

  #Home .image img {
    width: 65%;

    margin-left: 25rem;
  }

  #Home .text {
    order: 0;

    margin: 0 1.5rem;
    max-width: 30rem;
  }

  #AboutUs {
    grid-auto-flow: column;
  }

  #AboutUs .text {
    max-width: 25rem;

    margin-right: -20rem;
  }

  #AboutUs .button {
    margin-left: 5rem;
  }

  #OurServices {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  #OurServices .cards .card .button {
    margin: 1rem auto;
  }

  #WhatDoTheySayAboutUs .text {
    margin-left: 25rem;
  }

  #HowToFindUs {
    position: relative;
  }

  #HowToFindUs .text {
    position: relative;
  }

  #HowToFindUs .text ul {
    margin-top: 5rem;

    position: absolute;
    right: 10rem;
    top: 10rem;
  }

  #HowToFindUs .maps iframe {
    height: 30rem;

    position: absolute;
    left: 0;
    top: 15rem;
    width: 70%;
  }

  #HowToFindUs .contact {
    margin-top: 30rem;
  }

  #HowToFindUs .contact i {
    margin-left: 15rem;
  }

  #Footer {
    align-items: center;
  }

  #Footer .text p {
    margin-left: 2rem;
  }

  #Footer .socialNetworks ul {
    margin-left: 1.5rem;
  }

  #Footer .backToTopButton img {
    margin-right: 2rem;
  }
}
