#Footer {
  padding: 0;

  position: relative;

  background-color: var(--body-color-second);
}

#Footer.section {
  padding-top: 2rem;
}

#Footer .logo {
  margin-left: 5rem;
}

#Footer .text p {
  margin-top: 2rem;
}

#Footer .socialNetworks ul {
  display: flex;

  gap: 2rem;
  margin-top: 0.5rem;
}

#Footer .socialNetworks ul a li {
  font-size: 2rem;
  color: var(--base-color);
  height: 50px;
  position: relative;
  transition: 0.3s;
}

#Footer .socialNetworks ul a li:hover {
  transform: scale(150%);
}

.backToTopButton img {
  width: 5rem;
  height: 5rem;

  position: absolute;
  right: 0;
  bottom: 0;
}
