#Home {
  max-width: 30rem;
}

#Home .image {
  position: relative;
}

#Home .image img {
  height: auto;
  width: 100%;
  border-radius: 0.25rem;

  box-shadow: 0px 0px 12px black;
}

#Home .text {
  text-align: center;
}
