#Home .image {
  position: relative;
}

#Home .image img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  
}

#Home .image::before {
  content: '';
  width: 95.5%;
  height: 100%;
  background-color: var(--base-color);
  position: absolute;
  z-index: -1;
  bottom: calc(68 * 100% / 561);
  left: calc(17 * 100% / 375);
  border-radius: 0.25rem;
}



#Home .text {
  text-align: center;
}


