.menu ul {
  visibility: hidden;
  left: -20rem;
  transition: left 0.3s;

  position: fixed;
  z-index: 2000000;
}

.menu.show ul {
  visibility: visible;

  width: 50vw;
  height: 95vh;
  background-color: var(--background-menu);

  position: fixed;
  top: 5.5rem;
  left: 0;
  z-index: 2000000;

  text-align: center;
  align-items: center;
}

.menu ul li a {
  color: black;
  transform: translate3d(0px, 0px, 0px);
  display: inline-flex;
  transition: transform 0.3s;
}

.menu ul li a:hover,
.menu ul li a.active {
  transform: translate3d(10px, 10px, 0px);
  color: var(--base-color);
}

.icon-menu {
  left: 1.5rem;
  bottom: 1.5rem;

  background-color: var(--base-color);

  padding: 0.4rem;
  clip-path: circle();
}

.icon-close {
  visibility: hidden;
  transition: left 0.3s;
}

.menu.show .icon-close {
  visibility: visible;
  left: 13rem;
}
