.menu ul {
  visibility: hidden;
  left: -20rem;
  transition: left 0.3s;

  position: fixed;
}

.menu.showMenu ul {
  visibility: visible;

  width: 55vw;
  height: 100vh;
  background-color: var(--background-menu);

  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
  place-content: center;

  gap: 1.5rem;
}

.menu ul li a {
  color: black;
  transform: translate3d(0px, 0px, 10px);
  display: inline-flex;
  transition: transform 0.3s;
}

.menu ul li a:hover,
.menu ul li a.active {
  transform: translate3d(10px, 10px, 10px);
  color: var(--base-color);
}

.icon-menu {
  transition: 0.3s;
}

.menu.showMenu .icon-menu {
  transform: rotate(360deg);
  opacity: 0;
}

.menu .icon-close {
  transition: 0.3s;
  opacity: 0;

  z-index: -1;
}

.menu.showMenu .icon-close {
  transform: rotate(-360deg);
  opacity: 1;
}
