@media (min-width: 767px) {
  #header nav .logo {
    display: grid;
    justify-content: center;
  }

  .menu.show .icon-close {
    left: 27rem;
  }

  #Home .image img {
    width: 100%;
    height: 30rem;
  }

  #Home .text {
    margin-left: 3rem;
  }

  #AboutUs .image img {
    height: 20rem;
  }

  #OurServices .cards {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }

  #WhatDoTheySayAboutUs .swiper {
    justify-content: center;
  }

  #WhatDoTheySayAboutUs .swiper-wrapper {
    display: grid;
    grid-auto-flow: column;
  }

  #WhatDoTheySayAboutUs .swiper-slide {
    max-width: 98%;
  }

  #WhatDoTheySayAboutUs .text {
    margin-left: 8rem;
  }

  #WhatDoTheySayAboutUs cite {
    display: grid;
    grid-template-columns: 5rem 0.5fr;
  }

  #HowToFindUs .contact img {
    margin-left: -20rem;
  }

  #HowToFindUs .contact i {
    left: 23rem;
    top: 8rem;
  }

  #Footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
}
